
.about-us{
width: 100%;
height: 100vh;
padding: 90px 0;
background: #ddd;
}

.text{
  width: 540px;
}

.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;  
}


.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;  
}

.text p{
  font-size: 18px;
  font-weight: 25;
  margin-bottom: 1px;  
}

.about{
  width: 1030px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pic{
  height: 350px;
  width: 400px;
}

.link{
  margin-top: 30px;

}

.github{
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background: #4070f4;
  padding: 8px 25px;
  border-radius: 6px;
  border: none;
  transition: 0.5s;
}

span{
  color: #4070f4;
}

.github:hover{
  background: 000;
}


header {
  width: 100%;
}

.menu {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #494d64;
}

/* Dark Mode */
.dark {
  background-color:#24273a;
  color: white;
   
}

.light {
  background-color: #eff1f5;
  color: black;
}
  
/* Styling the Switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 59px;
  height: 33px;
}
  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(29, 128, 210);
}
  
input:focus + .slider {
  box-shadow: 0 0 1px rgb(29, 128, 210);
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}

/* filtering css */
.filter-list {
  list-style-type: none;
  padding-left: 0;
}

.filter-list a {
  text-decoration: none;
  position: relative;
}

#MovieCategory a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#MovieCategory a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* Footer CSS */
.group-name {
  font-size: small;
  padding-top: 0;
}